# Misc files
.Rhistory
*.Rproj
tests/testthat/Rplots.pdf
**/.DS_Store

# data files
**/*.rds
**/*.rda
**/*.csv

# Keep data files in testdata
!/tests/testthat/testdata/*.csv

# build artifacts
**/*.tar.gz
pkgnet.Rcheck/*
.Rproj.user

# Compiled vignette
inst/doc/*
Meta/*
doc/*

# aspell stuff
**/*.bak
