<h3>Dependency Network</h3>

<p>
    This section analyzes the recursive package dependencies of <b>{{pkg_name}}</b>.
</p>

<h4>Visualization</h4>

<p>
    Nodes are packages. Edges point in the direction of dependence.
</p>

{% include reporter.graph_viz.viz_template %}

<h4>Nodes Table</h4>

{{ reporter.get_summary_view() }}
