
<div id="{{ reporter.report_slug }}-graph-viz" style="width: 100%; height:480px"></div>

<script>
  var data = {
    nodes: JSON.parse('{{ reporter.graph_viz.nodes_to_json() }}'),
    edges: JSON.parse('{{ reporter.graph_viz.edges_to_json() }}')
  };

  var s = new sigma({
    graph: data,
    container: "{{ reporter.report_slug }}-graph-viz"
  });
</script>
