
<div id="{{ reporter.report_slug }}-graph-viz" style="width: 100%; height:480px"></div>

<script>
  var data = {
    nodes: JSON.parse('{{ reporter.graph_viz.nodes_to_json() }}'),
    edges: JSON.parse('{{ reporter.graph_viz.edges_to_json() }}')
  };
  var options = {};

  var container = document.getElementById("{{ reporter.report_slug }}-graph-viz");

  // initialize your network!
  var network = new vis.Network(container, data, options);
</script>
